.cards{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.mainDiv{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 20%;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 black;
}
.mainDiv:hover {
  box-shadow: 0 8px 12px 0 black;
}
.mainDiv img{
  border-radius: 5px;
}
button {
  border: none;
  outline: 1;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
}
button:hover, a:hover {
  opacity:0.6;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.formDiv{
  margin: auto;
  display: flex;
}
@media(max-width:1000px){
.cards{
  flex-wrap: wrap;
}

}
